﻿@{
    ViewBag.Title = "Mi primera vista";
    String nombreAutor = "Luis y Adrián";
    int nota = 100;
}

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Mi primera vista</h1>
        <h2>Hola Mundo!</h2>
        <p>
            <strong>Somos: </strong>@nombreAutor</br>
            Mi nota el día de hoy es:<input type="number" value="@nota" placeholder="Escriba su nota" />
        </p>
        <hr />
    </div>

    <div>
        <label>Caja de texto:</label>
        <input type="text" placeholder="Escriba cualquier cosa" />
        <hr />
    </div>

    <div>
        <a class="btn btn-info" href="/Home/Index">Volver a la página de inicio</a>
    </div>
</body>
</html>
