﻿<h1>Página de contacto de la Rama nueva</h1>
<p>
    Ahora tendrá un contenido muy diferente al que tiene la rama Master....
</p>

<p>
    @for (int i = 1; i <= 10; ++i)
    {
        <h4>Soy el número: <strong>@i </strong> </h4>
    }
</p>
<h4>Este cambio lo quiero en el master, lo demás no.....</h4>